.centre{
	max-width: 650px;
	margin: 0 auto;
}

.taskNav li.myAccount{
	text-indent: -9999px;
	cursor: pointer;
}

.taskNav li ul{
	visibility: hidden;
}

#menu{display: none;}
.headSearch{display:none;}

.menuDrop{
	display: block;
	float: right;
	padding: 15px;
	font-size: 18px;
	font-family: UbuntuRegular;
	cursor: pointer;
	background: url(../images/menuLogo.png) no-repeat;
	background-size: 80% 30%;
	background-position: 0% 50%;
	text-indent: -9999px;
}

#navDrop{
	display: none;
	font-family: Ubuntu;
	text-align: center;
	position: absolute;
	width: 100%;
	background: rgba(229, 228, 226,1);
	left:0px;
	top: 53px;
}

#navDrop li{
	padding: 15px;
}

#navDrop li:hover{
	background: #666;
	color: #fff;
}

#bigLogoPanel{width: 95%;}

#display ol {
	width: 95%;
	padding-left: 0px;
	list-style: none;
	text-align: center;
	margin-top: 40px;
}

#display ol li{margin-top: 20px;}

#display ul li{
	width: 50%;
}

#city{background: none;}

.city{
	width: 100%;
	float: none;
}